body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/2e/Jama_Masjid_Ahmedabad_heritage.jpg ");
  
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:auto;
    width:auto
  
  
  }
  
  /* Add styles to the form container */
  .container {
    position: relative;
    right: 0;
    margin-left: 680px;
    max-width: 400px;
    padding: 20px;
      border-style: solid;
    background-color: white;
    border-width: 2px;
    border-color: #4CAF50;
    border-radius: 25px;
    align-content: center
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  .outer{
    
    background-color:#fff ;
    height:2cm;
   text-align: center;
   margin:auto
  }