<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="outer"> 
    <h2><b>Add Product Details</b></h2>
</div>
<form class="container" [formGroup]="productAdditionForm" (ngSubmit)="addProduct()">
    <div>
        <p>Product Name</p>
        <input type="text" placeholder="Product name" formControlName="name" required>
        <!-- <small *ngIf="productAdditionForm.get('name').errors?.error">Character limit exceeded</small> -->
        <small *ngIf="productAdditionForm.get('name').errors?.maxlength">Character limit exceeded</small>
    </div>

    <div>
        <p>Age (in months)</p>
        <input type="text" placeholder="Age" formControlName="age" required>
        <small *ngIf="productAdditionForm.get('age').errors?.error">Should be numeric</small>
    </div>

    <div>
        <p>Description</p>
        <input type="text" placeholder="Description" formControlName="desc" required>
        <small *ngIf="productAdditionForm.get('desc').errors?.maxlength">Character limit exceeded</small>
    </div>

    <!-- <div>
        <p>Category</p>
        <input type="text" placeholder="Category" formControlName="category" required>
    </div> -->
    <br>
    <!-- <div>
        <p>Category</p>
        <select class="custom-select" (change)="onChange($event)" formControlName="category">
            <option value="">Category</option>
            <option *ngFor="let cat of category" >{{cat}}</option>
        </select>
    </div> -->

    <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
        <mat-option *ngFor="let cat of category" [value]="cat">
            {{ cat }}
        </mat-option>
    </mat-select>
    </mat-form-field>

    <!-- <div>
        <p>Date of Availability</p>
        <input type="datetime-local" placeholder="Date of Availability" formControlName="doa" required>
    </div> -->

    <div>
        <p>Date of Availability</p>
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input 
            matInput 
            [min]="minDate" 
            [max]="maxDate" 
            [matDatepicker]="picker"
            (dateInput)="dateInput($event)"
            formControlName="doa"
            required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
    </div>
        

    <div>
        <p>Duration (in days)</p>
        <input type="text" placeholder="Duration" formControlName="duration" required>
        <small *ngIf="productAdditionForm.get('duration').errors?.error">Should be numeric</small>
    </div>

    <div>
        <p>Price</p>
        <input type="text" placeholder="Price" formControlName="price" required>
        <small *ngIf="productAdditionForm.get('price').errors?.error">Should be numeric</small>
        <!-- <small *ngIf="productAdditionForm.get('price').errors?.required">required</small> -->
    </div>

    <br>
    <button class="btn" type="submit" [disabled]="!productAdditionForm.valid" (click)=addProduct()>Proceed</button>
</form>
</html>
