.right {
  float: right;
  right: 0px;
  width: 20px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.center {
float: center;
right: 0px;
width: 50px;
/* border: 3px solid #73AD21; */
padding: 10px;
margin: 0 auto;
text-align: center;
}
.container {
width: 80%;
margin: 0 auto;
padding: 20px;
background: #f0e68c;
}

.leftbox { 
float:left;  
border: 3px solid #ccffcc;
width:180px; 
height: 5000px; 
margin: 15px;
} 
.middlebox{ 
float:middle;  
width:200px; 
height:280px; 
margin: 15px;
} 
.rightbox{ 
float:right;  
width: 200px;
height: 280px; 
border: 3px solid #73AD21;
margin: 15px;
}




/* CSS for Switch */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}