<!-- <div class="CheckLength" *ngIf="orders.length!=0; else elseBlock"> -->
    <div class="viewOrders" *ngFor="let ord of orders">
        <h3>
            Order ID: {{ord.id}}
            <br>
        </h3>
        <h4>
            Product ID: {{ord.prodid}}
            <br>
            Order Placed On: {{ord.startDate}}
            <br>
            Order Till: {{ord.endDate}}
            <br>
            Total Amount: {{ord.amount}}
            <br>
            Order Status: {{ord.orderStatus}}
            <br><br>
        </h4>
    </div>

    <div class="homeLink" *ngIf="length!=0">
        <h3>
            <a routerLink="/dashboard/products/all" routerLinkActive="active">Go to Dashboard!</a>
        </h3>
    </div>

    <div class="checkLength" *ngIf="length==0">
        <h3>
            You have no pending orders, take a look at products at Rent <a routerLink="/dashboard/products/all" routerLinkActive="active">Here</a>
        </h3>        
    </div>

<!-- </div> -->
<!-- <ng-template #elseBlock>
    <h3>No Orders till now!</h3>
</ng-template> -->

