.dashboard_outer .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 0px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 15%;
    margin-left: -60px;
}

.dashboard_outer:hover .tooltiptext {
    visibility: visible;
}